<div class="body-comp">
  <h3>Siblings Components</h3>
  <div class="main-page">
<app-main class="app-main"></app-main>
<app-data-share class="app-data-share"></app-data-share>
</div>
</div>
<!-- <div data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
  <div><h3>1</h3></div>
  <div><h3>2</h3></div>
  <div><h3>3</h3></div>
  <div><h3>4</h3></div>
  <div><h3>5</h3></div>
  <div><h3>6</h3></div>
</div> -->

<carousel [cellsToShow]="1">
  <div class="carousel-cell">
      <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg">
  </div>
  <div class="carousel-cell">
    <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg">
</div>
<div class="carousel-cell">
  <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg">
</div>
<div class="carousel-cell">
  <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg">
</div>
<div class="carousel-cell">
  <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg">
</div>
</carousel>
<br>

<!-- <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
  </div>
</ngx-slick> -->

<!-- <button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->
